{% extends 'notes/base.html' %}

{% block content %}
<!-- Start of delete confirmation form -->
<div class="confirm-delete">
    <h2>Delete Note</h2> <!-- Heading for delete confirmation -->
    <p>Are you sure you want to delete "{{ note.title }}"?</p> <!-- Prompt for delete confirmation with note title -->
    <form method="post" class="delete-form">
        {% csrf_token %} <!-- Cross Site Request Forgery protection token -->
        <button type="submit" class="action-btn delete-btn">Confirm</button> <!-- Button to confirm delete action -->
    </form>
</div>
<!-- End of delete confirmation form -->
{% endblock %}
